<style>
/* Content & Gallery */
.image-slider {
    position: relative;
    z-index: 10;
    padding-top: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(249, 0, 83);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid rgb(215, 191, 4);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(162, 5, 5, 0.5);
}

</style>